@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

$bg:#f1f1f1;
$button:#d3d3d3;
$border:#22272d;



*, *:after, *:before{
  box-sizing:border-box;
}

html, body {background:$bg;font-family: 'Roboto', sans-serif;}

.clear {clear:both;}

#man-people-user, #lock-locker {
  fill:white;  
}

.wrapper{
  width:300px; 
  margin:12% auto;
}

form {position:relative;}

.clear {clear:both;}

.sign-in {
  float:left; 
  color:white;
  font-size:1.3em;
}
.btn {
  float:right;
  color:#252527;
  border:1px solid $border;
  padding:7px 15px;
  border-radius:3px;
  font-size:0.8em;
  cursor:pointer; 
}
.btn:hover {
    color:#000000;
    background-color: #d4d4d4;    
}

.lock {
  position:absolute;
  width:30px;
  height:30px;
  margin-top:10px;
  padding:7px; 
  left:5px;
  &::after {
    content:""; 
    width:1px;
    height:30px;
    position:absolute;
    background:$border; 
    top:0px; 
    left:100%; 
  }
}


input {
  width:100%;
  padding:5px;
  height:40px;
  border-radius:3px;
  margin:5px 0;
  outline: none;
}